@keyframes opacityToggle {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.container {
	animation: 1s ease-out 0s 1 opacityToggle;
}

.row1{
    height: '50em';
    padding: '5%' ;
    background-color: #0E6C4D;
    background-image: url("../../assets//images//webBg.png");
    
}